body {
  margin: 0px auto;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
}

@keyframes moveText {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-text {
  animation: moveText 2s ease infinite;
}
